@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.mtn-yellow {
  background-color: #FFCC00;
}

.text-mtn-yellow {
  color: #FFCC00;
}

.border-mtn-yellow {
  border-color: #FFCC00;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
